<h1>Triangle Identifier</h1>
<form action="/results">
  <div class="form-group">
     <label for="side1">Enter side 1:</label>
     <input name="side1" class="form-control" type="number">
     <label for="side2">Enter side 2:</label>
     <input name="side2" class="form-control" type="number">
     <label for="side3">Enter side 3:</label>
     <input name="side3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Find Out Now!</button>
</form>
